<template>
<div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Add artist</h3>
            </div>
            <div class="card-body">
                <form v-on:submit.prevent="addItem">
                    <div class="form-group">
                        <label>Artist name:</label>
                        <input type="text" class="form-control" v-model="item.name"/>
                    </div>
                    <div class="form-group">
                        <label>Twitter handle:</label>
                        <input type="text" class="form-control" v-model="item.twitter_handle"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Add"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            item: {}
        }
    },
    methods: {
        addItem() {
            this.axios.post('/artists', this.item).then((response) => { // eslint-disable-line
                this.$router.push({name: 'ArtistsIndex'})
            })
        }
    }
}
</script>