<template>
  <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Edit Artist</h3>
            </div>
            <div class="card-body">
                <form v-on:submit.prevent="updateItem">
                    <div class="form-group">
                        <label>Artist name:</label>
                        <input type="text" class="form-control" v-model="item.name"/>
                    </div>
                    <div class="form-group">
                        <label>Twitter handle:</label>
                        <input type="text" class="form-control" v-model="item.twitter_handle"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Update"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
export default{
	data(){
		return{
			item: {}
		}
	},

	created: function(){
		this.getItem()
	},

	methods: {
		getItem(){
			this.axios.get('artists/' + this.$route.params.id).then((response) => {
				this.item = response.data
			})
		},

		updateItem(){
			this.axios.put('artists/' + this.$route.params.id, this.item).then((response) => { // eslint-disable-line
				this.$router.push({name: 'ArtistsIndex'})
			})
		}
	}
}
</script>