<template>
    <div>
        <h1>Artists</h1>
         <!-- <router-link :to="{ name: 'ArtistsCreate' }">Add +</router-link> -->

        <table class="table table-hover">
            <thead>
            <tr>
                <td>Id</td>
                <td>Artist</td>
                <td>Twitter handle</td>
                <td colspan="2">Actions</td>
            </tr>
            </thead>

            <tbody>
                <tr v-for="(item, index) in items" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.twitter_handle }}</td>
                    <td><router-link :to="{name: 'ArtistsEdit', params: { id: item.id }}" class="btn btn-primary">Edit</router-link></td>
                    <td><button class="btn btn-danger" v-on:click="deleteItem(index, item.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data(){
        return{
            items: []
        }
    },

    created: function(){
        this.fetchItems()
    },

    methods: {
        fetchItems(){
            this.axios.get('/artists').then((response) => {
                this.items = response.data
            })
        },

        deleteItem(index, id){
            // Remove api
            this.axios.delete('/artists/' + id).then((response) => { // eslint-disable-line
                this.items.splice(index, 1) // Remove frontend
            })
        }
    }
}
</script>