<template>
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link :to="{ name: 'home' }" class="nav-link">Home</router-link>
                    </li>

                    <!-- Artists -->
                    <li v-if="isLoggedIn" class="nav-item">
                        <router-link :to="{ name: 'ArtistsCreate' }" class="nav-link">Add Artist</router-link>
                    </li>
                    <li v-if="isLoggedIn" class="nav-item">
                        <router-link :to="{ name: 'ArtistsIndex' }" class="nav-link">All Artists</router-link>
                    </li>

                    <!-- Albums -->
                    <li v-if="isLoggedIn" class="nav-item">
                        <router-link :to="{ name: 'AlbumsCreate' }" class="nav-link">Add Album</router-link>
                    </li>
                    <li v-if="isLoggedIn" class="nav-item">
                        <router-link :to="{ name: 'AlbumsIndex' }" class="nav-link">All Albums</router-link>
                    </li>


                    <li class="nav-item">
                        <router-link :to="{ name: 'register' }" class="nav-link">Register</router-link>
                    </li>
                    <li v-if="!isLoggedIn" class="nav-item">
                        <router-link :to="{ name: 'login' }" class="nav-link">Login</router-link>
                    </li>
                    <li v-if="isLoggedIn" class="nav-item">
                        <a @click="logout" href="#" class="nav-link">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="card-body">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
import store from './store.js'

export default {
    computed: {
        isLoggedIn: () => !!store.getters.token
    },
    methods: {
        logout: function () {
            store.dispatch('logout')
                .then(() => {
                    this.$router.push('login')
                })
        }
    },
}
</script>