<template>
<div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Add Album</h3>
            </div>
            <div class="card-body">
                <form v-on:submit.prevent="addItem">
                    <div class="form-group">
                        <label>Artist:</label>
                        <!-- <input type="text" class="form-control" v-model="item.artist_id"/> -->
                        <select class="form-control" v-model="item.artist_id">
                            <option v-for="artist in artists" v-bind:key="artist" :value="artist.id">{{ artist.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Album name:</label>
                        <input type="text" class="form-control" v-model="item.name"/>
                    </div>
                    <div class="form-group">
                        <label>Year:</label>
                        <input type="text" class="form-control" v-model="item.year"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Add"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            item: {},
            artists: {}
        }
    },
    
    methods: {
        addItem() {
            this.axios.post('/albums', this.item).then((response) => { // eslint-disable-line
                this.$router.push({name: 'AlbumsIndex'})
            })
        }
    },
    
    mounted: function () {
        let self = this;
        this.axios.get('/artists').then((response) => { // eslint-disable-line
            self.artists = response.data
        })
    }
}
</script>