<template>
<div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Edit Album</h3>
            </div>
            <div class="card-body">
                <form v-on:submit.prevent="updateItem">
                    <div class="form-group">
                        <label>Artist:</label>
                        <!-- <input type="text" class="form-control" v-model="item.artist_id"/> -->
                        <select class="form-control" v-model="item.artist_id">
                            <option v-for="artist in artists" v-bind:key="artist" :value="artist.id">{{ artist.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Album name:</label>
                        <input type="text" class="form-control" v-model="item.name"/>
                    </div>
                    <div class="form-group">
                        <label>Year:</label>
                        <input type="text" class="form-control" v-model="item.year"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Update Item"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    data(){
        return{
            item: {},
            artists: {}
        }
    },

    created: function(){
        this.getItem()
    },

    methods: {
        getItem(){
            this.axios.get('albums/' + this.$route.params.id).then((response) => {
                this.item = response.data
            })
        },

        updateItem(){
            this.axios.put('albums/' + this.$route.params.id, this.item).then((response) => { // eslint-disable-line
                this.$router.push({name: 'AlbumsIndex'})
            })
        }
    },
    
    mounted: function () {
        let self = this;
        this.axios.get('/artists').then((response) => { // eslint-disable-line
            self.artists = response.data
        })
    }
}
</script>