<template>
    <div>
        <h1>Albums</h1>
         <!-- <router-link :to="{ name: 'AlbumsCreate' }">Add +</router-link> -->

        <table class="table table-hover">
            <thead>
            <tr>
                <td>Id</td>
                <td>Artist</td>
                <td>Album</td>
                <td>Year</td>
                <td colspan="2">Actions</td>
            </tr>
            </thead>

            <tbody>
                <tr v-for="(item, index) in items" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.artist ? item.artist.name : '' }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.year }}</td>
                    <td><router-link :to="{name: 'AlbumsEdit', params: { id: item.id }}" class="btn btn-primary">Edit</router-link></td>
                    <td><button class="btn btn-danger" v-on:click="deleteItem(index, item.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    data(){
        return{
            items: []
        }
    },

    created: function(){
        this.fetchItems()
    },

    methods: {
        fetchItems(){
            this.axios.get('/albums').then((response) => {
                this.items = response.data
            })
        },

        deleteItem(index, id){
            // Remove api
            this.axios.delete('/albums/' + id).then((response) => { // eslint-disable-line
                this.items.splice(index, 1) // Remove frontend
            })
        }
    }
}
</script>